@media all and (min-width: 480px) {
    .Login {
      margin-top: 0px;
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .login button{
      color: green;
    }

    .btn-default, .btn-default:active, .btn-default:visited {
      border-color: rgb(0, 0, 0);
      color: black
  }

  .btn-default:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  }

  .label{
    color: white;
  }
  } 